<h1>Reset Password for user <%= @username%></h1>
<p>
  To reset password go to the following link: <%= link_to("Reset Password", @url) %>.
  <br/>
  <br/>
  If link doesn't work, please copy the following url into your browser:
  <br/>
  <%= @url %>
</p>